.App {
  text-align: center;
  font-family: arial, sans-serif;
  margin: 1rem;
}

label {
  margin: 0.4rem 0;
}

label {
  display: block;
  text-align: left;
}

.allFilters {
  display: flex;
  flex-direction: row;
}
.date-header {
  cursor: pointer;
}
.filter {
  margin: 1rem 1rem 1rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

select,
.dateInput {
  min-width: 7rem;
  background-color: white;
  border: none;
  border-bottom: 1px solid;
}

#idInput {
  border: none;
  border-bottom: 1px solid;
  width: 5rem;
}
/* #idInput:focus-visible {
  border: none !important;
  border-bottom: 1px solid;
} */

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
