.App {
  text-align: center;
  font-family: arial, sans-serif;
}

label {
  margin: 0.4rem 0;
}

label {
  display: block;
  text-align: left;
}

.allFilters {
  display: flex;
  flex-direction: row;
}

.filter {
  margin: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
